* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header h1,
section h2,
section h3,
form button {
    font-family: 'Bungee', cursive;
    font-weight: normal;
}

body, input, textarea {
    font-family: 'Roboto', sans-serif;
}

header {
    background-color: #182c61;
    color: #ecf0f1;
    padding: 16px 0;
}

header nav li {
    display: inline;
    margin-left: 16px;
    color: #ecf0f1;
    font-size: 18px;
    font-family: 'Bungee', cursive;
}

header nav li a {
    color: #ecf0f1;
    text-decoration: none;
}

.container {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
}

/* Para não criar uma nova regra só para uma unica section, adicione virgula na frente de um estilo já aplicado para aplicar ele a section desejada como foi feito abaixo*/
header .container,
section .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.brands-list img,
.social-links img {
    height: 24px;
}

.social-links li {
    display: inline;
    margin-right: 8px;
}

.social-links li a {
    text-decoration: none;
}

.brands-list li {
    display: inline;
    margin-right: 8px;
}

section .container {
    align-items: flex-start;
}

section {
    padding: 24px 0;
    color: #182c61;
}

section h2 {
    margin-bottom: 16px;
}

section p {
    margin-bottom: 8px;
}

section .store-front {
    width: 50%; /*coloquei este width para poder diminuir minha imagem, que não estava de acordo com o exercicio */
    margin-right: 32px;
}

#contact .container {
    display: block;
}

.contact-method {
    display: flex;
    justify-content: space-between;
}

form input,
form textarea,
form button {
    display: block;
    width: 320px;
    margin-bottom: 8px;
    padding: 8px;
}

form textarea {
    resize: none;
    height: 180px;
}

section h3 {
    margin-bottom: 16px;
}

form button {
    background-color: #182c61;
    color: #ecf0f1;
    border: none;
    cursor: pointer;
}

form button:hover {
    background-color: #2b55c9;
}

input:focus, textarea:focus { /*para fazer com o que a caixa selecionada mude de cor, tem que colocar o psedo-seletor: 'focus' na frente da regra selecionada */
    outline-color: #3308a8;
}

footer {
    background-color: #182c61;
    color: #ecf0f1;
    padding: 16px 0;
}